.app-container{
  background-color: #4D75A8;
  a {
    color: #1E4F8F;
    text-decoration: underline;
  }
  a:hover {
    color: #2E6BB4;
  }

  a:visited {
    color: #153C6B;
  }
}

.bus-container{
  background-color: #FFE066;
  a {
    color: #B8860B;
    text-decoration: underline;
  }
  a:hover {
    color: #DAA520;
  }

  a:visited {
    color: #8B6508;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  background-color: #4D75A8;
  color: white;

  h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 1em;
  }
  mat-button-toggle-group{
    margin-right: 1em;
  }
}

.footer-container {
  text-align: center;
  padding: 15px 10px;
  font-size: 0.9rem;
  color: white;
  background-color: #4D75A8;
  margin-top: 30px;
}

.bus {
  background-color: #FFE066;
  color: black;
}